<% title "Dashboard" %>

<h2>Dashboard</h2>

<div class="table-responsive">
  <% if @dashboard.count == 0 %>
  No data available for year <%= current_year %>
  <% else %>
    <table class="table table-hover" id="invoice-table">

    <% @dashboard.each_key do |client| %>
      
        <thead>
          <tr>
            <th colspan="2">
              <%= link_to invoice_by_client_path(client), :style => 'color:rgb(44, 62, 80);' do %>
                <h4><%= client.name %></h4>
                <%end%>
            
            </th>
          </tr>
          <!--
          <tr>
            <th><%= t('.number') %></th>
            <th><%= t('.invoice_date') %></th>
            <th><%= t('.client') %></th>
            <th><%= t('.total') %></th>
            <th><%= t('.payment_date') %></th>
            <th><%= t('.status') %></th>
            <th>
            </th>
          </tr>
            -->
        </thead>
        <tbody>
          <% if @dashboard[client][:expired] > 0 %>
          <tr class="expired">
            <td>
              Expired: <%= @dashboard[client][:expired] %>
            </td>
            <td>
              <%= eur(@dashboard[client][:expired_invoices_sum]) %>
            </td>
          </tr>
          <% end %>

          <% if @dashboard[client][:sent] > 0 %>
          <tr class="sent">
            <td>
              Pending: <%= @dashboard[client][:sent] %>
            </td>
            <td>
              <%= eur(@dashboard[client][:sent_invoices_sum]) %>
            </td>
          </tr>
          <% end %>

          <% if @dashboard[client][:paid] > 0 %>
          <tr class="paid">
            <td>
              Paid: <%= @dashboard[client][:paid] %>
            </td>
            <td>
              <%= eur(@dashboard[client][:paid_invoices_sum]) %>
            </td>
          </tr>
          <% end %>

        </tbody>
      
    <% end%>


    <thead>
      <tr>
        <th colspan="2">
          <%= link_to invoices_path, :style => 'color:rgb(44, 62, 80);' do %>
            <h4>Total</h4>
            <%end%>
        
        </th>
      </tr>
    </thead>
    <tbody>
      <tr class="expired">
        <td>
          Total expired
        </td>
        <td>
          <%= eur(@total_expired) %>
        </td>
      </tr>

      <tr class="sent">
        <td>
          Total pending
        </td>
        <td>
          <%= eur(@total_sent) %>
        </td>
      </tr>

      <tr class="paid">
        <td>
          Total paid
        </td>
        <td>
          <%= eur(@total_paid) %>
        </td>
      </tr>

    </tbody>
    <tfoot>
      <tr>
        <td></td>
        <td><b><%= eur(@invoices_sum) %></b></td>
      </tr>
    </tfoot>



    </table>
  <% end %>
</div> <!-- // .table-responsive -->
