<% title "Dashboard" %>

<h2>Dashboard</h2>

<div class="table-responsive">
  <% if @dashboard.count == 0 %>
  No data available for year <%= current_year %>
  <% else %>
    <table class="table table-hover" id="invoice-table">

    <% @dashboard.each_key do |client| %>
      
        <thead>
          <tr>
            <th colspan="2"><h4><%= client.name %></h4></th>
          </tr>
          <!--
          <tr>
            <th><%= t('.number') %></th>
            <th><%= t('.invoice_date') %></th>
            <th><%= t('.client') %></th>
            <th><%= t('.total') %></th>
            <th><%= t('.payment_date') %></th>
            <th><%= t('.status') %></th>
            <th>
            </th>
          </tr>
            -->
        </thead>
        <tbody>
          <% if @dashboard[client][:expired] > 0 %>
          <tr class="expired">
            <td>
              Expired: <%= @dashboard[client][:expired] %>
            </td>
            <td>
              <%= @dashboard[client][:expired_invoices_sum] %>
            </td>
          </tr>
          <% end %>

          <% if @dashboard[client][:sent] > 0 %>
          <tr class="sent">
            <td>
              Pending: <%= @dashboard[client][:sent] %>
            </td>
            <td>
              <%= @dashboard[client][:sent_invoices_sum] %>
            </td>
          </tr>
          <% end %>

          <% if @dashboard[client][:paid] > 0 %>
          <tr class="paid">
            <td>
              Paid: <%= @dashboard[client][:paid] %>
            </td>
            <td>
              <%= @dashboard[client][:paid_invoices_sum] %>
            </td>
          </tr>
          <% end %>
        
            <!-- 
          <tr>
            <td colspan="3"></td>
            <td style="padding-bottom:20px;"><b><%= eur(@dashboard[client][:invoices_sum]) %></b></td>
            <td colspan="3"></td>
          </tr>
              -->
        </tbody>
      
    <% end%>
    </table>
  <% end %>
</div> <!-- // .table-responsive -->
